#PERMITIR O CORS 
#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
#Header add Access-Control-Allow-Headers " X_REST_CORS , HTTP_X_REST_USERNAME ,  HTTP_X_REST_PASSWORD"
#Header add Access-Control-Allow-Headers " X_REST_CORS , HTTP_X_REST_USERNAME ,  HTTP_X_REST_PASSWORD"


# RewriteEngine On

# RewriteCond %{REQUEST_METHOD} OPTIONS 
# RewriteRule ^(.*)$ blank.html [QSA,L]